@import "../fonts/font";

// Colors
$color-main-bg: #ffffff;
$color-heading: #0f4189;
$color-text: #666a7b;
$color-light-blue: #f2f8ff;
$color-orange: #ff793f;

// Fonts
$font: 'Poppins';

//
$max-content-xl: 128rem;

//transition
$transition-main: all 0.2s linear;

